.header{
    background-image: url('glx4.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 overflow: hidden;
 height: 90px;
    color: white;
    padding-left: 25px;
    font-size: large;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;

}
#nav{
    height: 90px;
    width: 100%;
}
#kk{
    background-image: url('underwater-ocean.webp');
    background-size: cover;
    height: 506px;
}
.input-form{
    display: flex;
   
    justify-content: space-around;
    width: 99%;
    margin:auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #0a000e;
    margin-top: 30px;
    padding: 25px 0px ;
}
#add-btn{
   background: linear-gradient(45deg, black,aqua,yellow);
    width: 50px;
    height: 50px;
    border-radius: 10%;
    font-size:x-large ;
    font-weight: 9000;
    color: black;
}
.inputs{
    width: 20%;

}
.cards{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
   

}
.card{
    background-image: url('glx2.jpg');
    background-size: cover;
    border: 0px;
    height: 150px;
    margin-top: 25px;
}
.card-body{
    color: white;

}
.transaction-table{
    border: 1px black solid;
    width: 95%;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
    font-weight:900 ;
    box-shadow:0px 4px 4px rgba(0 ,0 ,0,0.5) ;
    padding: 0px;


}
#header-row{
background:#476EF7 ;

}
#header-row th{
    padding: 15px 0px;
    color: white;
}
.delete-butoon,.delete-butoon:hover{
    background: red;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
footer{
  background: linear-gradient(65deg,black,rgb(30, 1, 30));
    color: white;
    display: flex;
    justify-content: space-between;
    
}
section{
    padding-top: 8px;
}
#sc{
    padding-top: 8px;
}
section span{
    font-family: 'Rouge Script';
    display:flex;
}
section h5 span{
display: inline-flex;
}
#nm{
  text-align: center;
  color: #0a000e;
  font-weight: 800;
  font-family:'Carattere';

}
#nm h1{
    padding-top: 10px;
}

